.form-item.form-type-radio.form-item-photos {
  display: inline-block;
  width: 33%;
  text-align: center;
}

.form-item.form-type-radio.form-item-photos img {
  cursor:     pointer;
  max-height: 100%;
  max-width:  100%;
}

input[type="radio"] + label.option {
  display:     block;
  width:       100%;
  height:      100%;
  padding-top: 5px;
}

input[type="radio"]:checked + label {
  background-color: rgb(238, 47, 73);
}

input.form-radio {
  display: none;
}